language: scala

scala:
  - 2.10.6
  - 2.11.8

script:
  - sbt ++$TRAVIS_SCALA_VERSION "project v08" clean coverage test coverageReport scalastyle
  - sbt ++$TRAVIS_SCALA_VERSION "project v010" clean coverage test coverageReport scalastyle
  - sbt coverageAggregate

after_success:
  - bash <(curl -s https://codecov.io/bash)
