language: scala

scala:
  - 2.10.6
  - 2.11.11

jdk:
  - oraclejdk8

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test coverageReport scalastyle
  - sbt coverageAggregate

after_success:
  - bash <(curl -s https://codecov.io/bash)
